
$gray: #656B72
$black: #000000
$white: #ffffff
$headerbg: #1A1D20
$mainbg: #1C1F22

// - - - 

a
  color: $textcolor
  text-decoration: none
  transition: .5s

img
  display: block

input,
button
  padding: .5rem
  display: inline-block
  background: none
  border: none
  font-size: inherit
  font-family: inherit
  color: $white

path
  transition: .5s

// - - - 

.btn
  display: inline-block
  border: .1rem solid #25292C
  border-radius: 2.5rem
  padding: 1.8rem 3.4rem
  &:hover
    background: #1C1F22
  &-icon
    padding: 1rem 1.5rem
    font-size: 1.4rem
    border-radius: 1.5rem
    display: flex
    align-items: center
    gap: 2rem

// - - - 

.accent
  color: $accent

// - - - 

.page
  height: 100vh
  background: $headerbg
  color: $white
  display: flex

.container
  max-width: 1670px
  margin: 0 auto
  padding: 0 2rem
  box-sizing: border-box

// - - - 

.brand
  font-size: 3rem
  font-weight: 700
  color: $white

// - - - 

.hamburger
  span
    display: block
    width: 3rem
    height: .1rem
    background: $white
    &:nth-child(2)
      width: 2.5rem
      margin: .6rem 0