
$gray: #656B72
$black: #000000
$white: #ffffff
$headerbg: #1A1D20
$mainbg: #1C1F22
$inputbg: #202427

// - - - 

a
  color: $textcolor
  text-decoration: none
  transition: .3s

path
  transition: .3s

img
  display: block

input,
textarea
  display: inline-block
  padding: 1.4rem 2rem
  color: $white
  background: $inputbg
  border-radius: 1.2rem
  font-size: 1.4rem
  border: none
  font-family: inherit
  cursor: pointer

button
  display: inline-block
  border: none
  background: none
  font-family: inherit
  cursor: pointer

// - - - 

.heading
  &-h1
    font-size: 7.2rem
    font-weight: 200
    line-height: 1.2
  &-h2
    font-size: 3.6rem
    font-weight: 600
    line-height: 1.2

// - - - 

.btn
  display: inline-block
  padding: 1.5rem 6rem
  border-radius: 1.5rem
  border: .1rem solid #25292C
  font-size: 1.6rem
  transition: .3s
  &:hover
    background: #1C1F22
    box-shadow: .2rem 1.2rem 2rem rgba($black, .2)
  &-icon
    padding: 1rem 1.5rem
    font-size: 1.4rem
    border-radius: 1.5rem
    display: flex
    align-items: center
    gap: 2rem
  &-square
    padding: 0
    width: 5rem
    height: 5rem
    border-radius: 2rem
    display: flex
    justify-content: center
    align-items: center
  &-large
    padding: 1.8rem 3.4rem
    border-radius: 2.5rem
  &-accent
    background: $accent
    color: $white

// - - - 

.accent
  color: $accent

// - - - 

.page
  height: 100vh
  background: $headerbg
  color: $white
  display: flex

.container
  max-width: 1670px
  margin: 0 auto
  padding: 0 2rem
  box-sizing: border-box

// - - - 

.brand
  font-size: 3rem
  font-weight: 700
  color: $white

// - - - 

.hamburger
  span
    display: block
    width: 3rem
    height: .1rem
    background: $white
    &:nth-child(2)
      width: 2.5rem
      margin: .6rem 0

// - - - 

.content
  width: 95%
  height: 100%
  display: flex
  &__item
    width: 25%
    &:nth-child(1)
      margin-right: 3%
    &:nth-child(2)
      width: 45%
      margin-right: 8%